/*body #root > div.container > div {*/
/*  height: 100vh;*/
/*}*/
:root {
  --main-color: #563d7c;
}

.bg-main {
  color: white !important;
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.color-main {
  color: var(--main-color);
}

.border-main {
  border: var(--main-color) solid 3px !important;
}

.main-container {
  margin-bottom: calc(100% - 90%);
}

@media (max-width: 760px) {
  .main-container {
    margin-bottom: calc(100% - 85%);
  }
}

@media (max-width: 490px) {
  .main-container {
    margin-bottom: calc(100% - 80%);
  }
}

.selectable-card {
  cursor: pointer;
  border: var(--main-color) solid 1px !important;
  color: var(--main-color);
  background-color: white;
}

.back-arrow {
  /*background-color: var(--main-color) !important;*/
  color: var(--main-color) !important;
  cursor: pointer;
}

.border-violet {
  border-color: violet !important;
  border-width: 3px !important;
}

.selected-card {
  color: white;
  background-color: var(--main-color) !important;
}

.img-thumbnail {
  height: 150px !important;
}

.navbar .navbar-nav > a {
  padding: 8px 15px;
  font-size: 14px;
}

.navbar .nav-link svg {
  font-size: 18px;
}

.navbar .navbar-nav > a > svg {
  display: block;
  text-align: center;
  width: 100%;
}

.navbar .navbar-nav > a > span {
  font-size: 0.875em;
}

.navbar-nav,
.m-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-around;
}

.btn.btn-special:hover {
  background-color: inherit;
  border-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
}


.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.text-white {
  color: white;
}

.non-selectable-button {
  cursor: none;
}

.alert-fixed {
  position:relative;
  left: 30%;
  width: 50%;
  z-index:9999;
  /*border-radius:0px*/
}

.nav-link:hover {
  color: var(--bs-nav-link-color) !important;
}

.top-navbar-ml-0 {
  margin-left: 0 !important;
}

.overflow-three-dots {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;

}