/*body #root > div.container > div {*/
/*  height: 100vh;*/
/*}*/

.main-container {
  margin-bottom: calc(100% - 90%);
}

.selectable-card {
  cursor: pointer;
}

.img-thumbnail {
  height: 150px !important;
}

.navbar .navbar-nav > a {
  padding: 8px 15px;
  font-size: 14px;
}

.navbar .nav-link svg {
  font-size: 18px;
}

.navbar .navbar-nav > a > svg {
  display: block;
  text-align: center;
  width: 100%;
}

.navbar .navbar-nav > a > span {
  font-size: 0.875em;
}

.navbar-nav,
.m-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-around;
}

.btn.btn-special:hover {
  background-color: inherit;
  border-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
}


.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}